{% load bootstrap4 %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>Web News</title>

    {% bootstrap_css %}

  </head>

  <body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Web News</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'homegape' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index_autores' %}">Portal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/">Administração</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    
    <main role="main" class="container">
      
      <h1 class="mt-5">Web News</h1>

      {% block content %}
      
      <h2>Autores</h2>
      <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Atualizar</th>
            <th scope="col">Deletar</th>
          </tr>
        </thead>
        <tbody>
        {% for autor in autores %}
          <tr>
            <th scope="row">{{autor.id}}</th>
            <td><a href="{% url 'detalhar_autores' autor.id %}">{{ autor.nome }}</a></td>
            <td><a href="{% url 'atualizar_autores' autor.id %}" class="btn btn-primary">Atualizar</a></td>
            <td><a href="{% url 'deletar_autores' autor.id %}" class="btn btn-danger">Deletar</a></td>
          </tr>
        {% endfor  %}
        </tbody>
      </table>

      <h2>Noticias</h2>
      <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Titulo</th>
            <th scope="col">Conteudo</th>
            <th scope="col">Tags</th>
          </tr>
        </thead>
        <tbody>
        {% for noticia in noticias %}
          <tr>
            <th scope="row">{{noticia.id}}</th>
            <td><a href="noticias/{{noticia.id}}">{{ noticia.titulo }}</a></td>
            <td><a href="noticias/atualizar/{{noticia.id}}" >{{ noticia.conteudo }}</a></td>
            <td><a href="noticias/deletar/{{noticia.id}}" >{{ noticia.tags }}</a></td>
          </tr>
        {% endfor  %}
        </tbody>
      </table>
      
      {% endblock %}


    </main>


    
    {% bootstrap_javascript jquery='full' %}
  </body>
</html>